buffy:
  env:
    bot_github_user: <%= ENV['BUFFY_BOT_GH_USER'] %>
    gh_access_token: <%= ENV['BUFFY_GH_ACCESS_TOKEN'] %>
    gh_secret_token: <%= ENV['BUFFY_GH_SECRET_TOKEN'] %>
  teams:
    editors: 2376878
    empty: 4475893
    software-review-testing: 4476094
  responders:
    help:
    hello:
      hidden: true
    thanks:
      hidden: true
    basic_command:
      - code_of_conduct:
          command: code of conduct
          description: Show our Code of Conduct
          messages:
            - "Our Code of Conduct can be found at https://ropensci.org"
      - seeking_reviewers:
          command: seeking reviewers
          description: Switch to "seeking reviewers"
          template_file: badge.md
          remove_labels:
            - 1/editor-checks
          add_labels:
            - 2/seeking-reviewer(s)
          only:
            - editors
      - approved:
          command: approve
          description: Approve the package
          template_file: approved.md
          data_from_issue:
            - reviewers-list
          remove_labels:
            - 5/awaiting-reviewer(s)-response
          add_labels:
            - 6/approved
          only:
            - editors
    ropensci_reviewers:
      only:
        - editors
      if:
        role_assigned: editor
      no_reviewer_text: "TBD"
      add_labels:
        - 3/reviewer(s)-assigned
      remove_labels:
        - 2/seeking-reviewer(s)
    assign_editor:
      message: "The editor guide can be found at https://devguide.ropensci.org/editorguide.html#editorchecklist"
      only:
        - editors
      add_labels:
        - 1/editor-checks
      remove_labels:
        - 0/editorial-team-prep
    remove_editor:
      only:
        - editors
      no_editor_text: "TBD"
    close_issue_command:
      - when_approving:
          only:
            - editors
          command: approve
      - out_of_scope:
          only:
            - editors
          command: out of scope
          add_labels:
            - out-of-scope
          remove_labels:
            - 1/editor-checks
    external_service:
      name: editorcheck
      only:
        - editors
      command: check package
      description: Various package checks
      message: Thanks, about to send the query.
      url: http://kirby.ecohealthalliance.org:22051/editorcheck
      method: post
      data_from_issue:
        - repourl
      mapping:
        u: repourl
      template_file: goodpractice.md

